@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Open Sans"
  src:url("../fonts/open-sans/OpenSans-Regular.ttf") format('ttf');
}

html {
  background-color: #faeb6b;
  font-family: 'Nunito Sans', Arial, Sans-Serif;
  font-weight: 200;
}
header {
  background-color: white;
  display: flex;
  flex-direction: column;
  /*width: 880px;*/
  text-align: center;
  font-family: 'Open Sans',Times,Serif;
  padding-bottom: 25px;
  border-bottom: 1px solid #DC3157;
}
body {
  width: 880px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
}
div {
  padding: 15px;
  line-height: 1.6;
}
footer {
  height: 5vh;
  background-color: #faeb6b;
}

nav > a {
  color: #e96363;
  margin: 5px;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

p, ul {  
  margin-bottom: 2vh;
}

#main {
  background-color: white;
  display: flex;
  padding: 15px;
  min-height: 100vh;
}
#logo {
  width: 150px;
  height: auto;
}
#info {
  width: 33vw;
}
#info h1 {
  text-transform: uppercase; 
  letter-spacing: 4px; 
  font-size: 28px;
  line-height:32px;
  font-weight: 800;
  margin-bottom: 20px;
}
#info h3 {
  font-weight: 200;
  font-size: 12px;
}
#description {
  width: 60vw;
  font-size: 14px;
}
img {
  max-width: 100%;
  height: auto;
}
